{{> partials/head }}
{{> partials/header }}
{{> partials/nav }}

<div class="container list">
{{ title }}
</div>

<div class="container no-list">
     <h2>Esta página não foi encontrada.</h2>
</div>

{{>partials/footer}}