{{> partials/head}}

<div class="container list">
    <h2>Novo usuario do banco</h2>

    <p>teste do banco: {{ banner.name }}</p>
        <br>
        {{ #contatos }}
            <ul>
                <li> {{ id }} - {{ email }} - {{ nome }} </li>
            </ul>
        {{ /contatos}}
    
</div>

{{> partials/footer}}