{{> partials/head }}
    <h1>Recebimento de dados</h1>
    <br>
    <h2>Dados recebidos pela nossa equipe, entraremos em contato!</h2>
    <br>
    nome: {{ nome }}
    <br>
    E-mail: {{ email }}
    <br>

{{> partials/footer }}