{{> partials/head}}
{{> partials/header}}
{{> partials/nav}}

{{# banner }}

<section class="banner" style="background-image: url('images/{{ backgound }}')">{{ title }}</section>
<h2>Formulario de cadastro</h2>

{{ /banner }}

<div class="form-group">
    <fieldset>
        <form action="/404" method="post" >
            <div class="form-group">
                <input class=" form-group form-control espaco-botton" type="text" id="nome" name="usuario_nome" placeholder="Nome do animal *"/>
            </div>
            <div class="form-group">
                <input class="form-control espaco-botton" type="text" id="raca" name="usuario_nome" placeholder="Raça *"/>
            </div>
            <div>
                <input class="form-control espaco-botton" type="text" id="cor" name="usuario_nome" placeholder="Cor *"/>
            </div>
            <div>
                <select class="form-control espaco-botton" name="sexo">
                    <option value="" selected>Selecione o sexo do animal</option>
                    <option value="macho">Macho</option>
                    <option value="femea" >Femêa</option>
                </select>
            </div>
            <div class="espaco-botton">
                <input class="form-control" type="text" id="localidade" name="usuario_nome" placeholder="Localidade *"/>
                <small id="emailHelp" class="form-text text-muted">Exemplo: Goiania-GO</small>
            </div>
            <div class="">
                <input class="form-control espaco-botton"  type="text" id="telefone" name="usuario_nome" placeholder="Telefone de contato *" />
            </div>
            <div class="form-grup espaco-botton">
                <select class="form-control" name="tipo">
                    <option value="" selected>Selecione</option>
                    <option value="dog">Cachorro</option>
                    <option value="cat">Gato</option>
                    <option value="fish">Peixe</option>
                    <option value="bird">Ave</option>
                </select>
            </div>
            <div>
                <textarea class="form-control espaco-botton" id="msg" name="usuario_msg" placeholder="Area informativo do animal: " rows="3"></textarea>
            </div>   
            <form>
                <div class="form-group espaco-botton">
                  <label for="FormControlFile">Selecione a imagem</label>
                  <input type="file" class="form-control-file" id="FormControlFile">
                </div>
            </form>  
           
            <button class="btn btn-success espaco-botton">
                Enviar
            </button>       
        </form>

    </fieldset>
</div>

{{> partials/footer}}