
{{> partials/head }}

<form action="/dadoEnviado1" method="post">
    <div class="form-group">
        <div>
            <!--<label for="nome">Nome:</label>-->
            <input class="form-control" type="text" name="nome" placeholder="Informe seu nome: " />
        </div>
        <div>
            <!--<label for="email">E-mail:</label>-->
            <input class="form-control" type="email" id="usuario_email" name="email" placeholder="Informe seu E-mail:" />
        </div>
        <div>
            <label for="msg">Mensagem:</label>
            <textarea class="form-control" id="usuario_mensagem" name="mensagem" rows="4"></textarea>
        </div>

        <div class="btn">
            <button class="form-control btn-success">Enviar sua mensagem</button>
        </div>
    </div>
</form>
        <div class="btn">
            <a class="form-control btn-secondary" href="/home" >Retornar</a>
        </div>
    

    <div class="contato">
        <div class="contato_rede">
            <div class="contato_rede_github">
                <a href="http://github.com/paulos3r/canil">
                    <i class="bi bi-github">Contribuir com o projeto no GitHub</i>
                </a>
            </div>
            <div class="contato_rede_facebook">
                <a href="http://https://www.facebook.com/profile.php?id=100004975506496">
                    <i class="bi bi-facebook">Contato direto no facebook</i>
                </a>
            </div>
        </div>
    </div>


{{> partials/footer }}