{{> partials/head}}
{{> partials/header}}
{{> partials/nav}}

<form action="/teste" method="post">
    <input type="text" name="name" id="name">
    <button>enviar</button>
</form>

{{> partials/footer}}