<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetDevShop - O petshop do dev</title>
    <link rel="stylesheet" href="/css/style.css" />
    {{# formulario }}
    <link rel="stylesheet" href="/css/styleForm.css" />
    {{/ formulario }}
    <link rel="icon" type="image/png" href="/images/favicon.png" />
</head>
<body>