<header>
    <div class="container">
        <a href="/">CanilPets</a>
        <form method="post" action="/search">
            <input type="search" name="pesquisa" placeholder="Pesquise por raça" />
        </form>
    </div>
</header>