<nav>
    <ul>
        <li class="{{#menu.all}}active{{/menu.all}}"><a href="/">Todos</a></li>
        <li class="{{#menu.dog}}active{{/menu.dog}}"><a href="/dog">Cachorros</a></li>
        <li class="{{#menu.cat}}active{{/menu.cat}}"><a href="/cat">Gatos</a></li>
        <li class="{{#menu.fish}}active{{/menu.fish}}"><a href="/fish">Peixes</a></li>
        <li class="{{#menu.bird}}active{{/menu.bird}}"><a href="/bird">Aves</a></li>
        <li class=""><a href="/cadastro-pet">Cadastro de Animais</a></li>
    </ul>
</nav>